body {
  margin: 0;
  background-color: black;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  background-color: #161d2f;
}

.icon {
  filter: brightness(0) invert(1);
}
