body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden;
  font-family: "Ibarra Real Nova", serif;
  font-family: "Outfit", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  background-color: #161d2f;
}

.icon {
  filter: brightness(0) invert(1);
}
